body {
    background-image: url("http://www.sketchup.com/images/case_study/interiordesign/Alan_mascord_3.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#title {
    color: green;
    font-size: 130%;
}